body {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: stretch;
	align-items: stretch;
	padding: 0.10em;
	overflow:hidden;
}

body, html {
	height: 98%;
}

#app {
	height: 100%;
	width: 100%;
	background-color: #bad;
}

.flex-container {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	height: 100%;
}

.flex-item {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0 0.5em;
	text-align: center;
}

.chat-container {
	width: 100%;
	height:100%;
	align-items: stretch;
}

.chat-user-list {
	width: 22%;
	height: 75%;
	align-items: flex-start;
	padding-top: 1em;
}

.messages-container {
	flex-direction: row;
	width: 75%;
	height: 95%;
	padding-top: 1em;
}

.messages-display {
	height: 80%;
}

.message-composer {
	margin-top: 1em;
	height: 20%;
}

.login-page {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background: #bad;
	text-align: center;
}

.login-form {
	margin: 0 auto;
}

.conversation-card {
    width: 40%;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    display: flex;
	padding: 0.60em 0.5em;
	text-align: left;
}

.message-self {
    text-align: right;
    margin-left: auto;
    padding-right: 2em;
}

